.image-to-ascii {
  position: relative;
  min-height: 90vh;
  .drawboard {
    overflow: scroll;
    background: black;
    color: white;
  }
  .image-drop-zone {
    width: 100%;
    align-self: stretch;
    border: 2px dashed #0087f7;
    border-radius: 5px;
    display: flex;
    font-family: 'Open Sans';
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
