h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

.blog-post-content {
  .anchor > svg {
    opacity: 0;
  }

  h1:hover > .anchor > svg,
  h2:hover > .anchor > svg,
  h3:hover > .anchor > svg,
  h4:hover > .anchor > svg,
  h5:hover > .anchor > svg,
  h6:hover > .anchor > svg,
  .anchor:hover > svg,
  .anchor:focus > svg {
    opacity: 1;
  }

  p,
  li {
    letter-spacing: -0.004em;
    word-spacing: 0.05em;
    line-height: 1.7;
  }

  blockquote {
    border-left: 4px solid black;
    margin-left: -1.125rem;
    padding: 1rem;
    position: relative;
    font-style: italic;
    font-size: 1.1rem;
    margin-right: -1.125em;
    padding-right: 0;
    margin-right: -1rem;
  }

  blockquote blockquote {
    margin-left: 1rem;
  }

  figcaption {
    text-align: center;
    color: #757575;
    font-family: sans-serif;
    font-size: 0.8rem;
    margin-top: 0.8rem;
  }
  figure {
    margin: 1rem -1.125rem;
  }
  strong {
    font-size: 1.02rem;
  }

  @media (max-width: 900px) {
    .anchor {
      float: initial;
      padding-right: 0;
      margin-left: 0;
    }
  }

  ul ul {
    list-style-type: disc;
  }
}

.theme-light {
  a {
    text-decoration: none;
    color: #2b69bb;
  }
}

.theme-dark {
  a {
    color: white;
  }
  p {
    color: #dce4e8;
  }

  .anchor svg path {
    fill: white;
  }

  blockquote {
    border-left: 4px solid white;
  }

  .blog-post-content figcaption {
    color: #cecece;
  }
}
