@import 'markdown';
@import 'components/navbar';
@import 'components/tooltip';
@import 'components/theme-picker';
@import 'components/table-of-contents';
@import 'layout/blog_layout';
@import 'components/sidebar';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$background: white;
$color: black;

@mixin theme($background, $color) {
  background: $background;
  color: $color;
}

* {
  box-sizing: border-box;
}

:root {
  --theme-primary-bg: #1d5baf;
  --theme-primary-color: #000000;
  --theme-secondary-color: #ffffff;
  --theme-secondary-bg: #000000;
  --theme-primary-hover: #3068b7;
  --theme-navbar-box-shadow: #484848ab;
}

@mixin theme($background, $color) {
  background: $background;
  color: $color;
}

.theme-dark {
  --theme-navbar-box-shadow: #131313ab;
  $color: white;
  $background: #292c35;
  --theme-background: #{$background};
  --theme-color: #{$color};
  --theme-hover: #424653;
  --theme-dim-color: #dadada;
  @include theme($background, $color);
  :not(pre) > code {
    background: #424653;
  }
  .grvsc-container .grvsc-line-highlighted {
    background-color: rgb(19, 43, 64);
    box-shadow: inset 4px 0 0 0 rgba(245, 243, 255, 0.5);
  }
}

.theme-dark-blue {
  $color: white;
  --theme-dim-color: #dadada;

  $background: #083575;
  --theme-background: #{$background};
  --theme-color: #{$color};
  --theme-hover: #0b479c;
  @include theme($background, $color);
  --theme-navbar-box-shadow: #071d3e;
}

.theme-dark-red {
  $color: white;
  $background: #7a1522;
  --theme-background: #{$background};
  --theme-color: #{$color};
  --theme-dim-color: #dadada;

  --theme-hover: #a01a2c;
  @include theme($background, $color);
  --theme-navbar-box-shadow: #56111a;
}

.theme-solarized {
  @include theme($background, $color);
}

.theme-light {
  @include theme($background, $color);
  --theme-navbar-box-shadow: #c9c9c9ab;
  --theme-background: #{$background};
  --theme-color: #{$color};
  --theme-hover: #e0e0e096;
  --theme-dim-color: #7b7878;
  :not(pre) > code {
    background: #fff1b9;
  }

  .grvsc-container .grvsc-line-highlighted {
    background-color: #ffe2e2;
    box-shadow: inset 4px 0 0 0 rgba(241, 16, 16, 0.5);
  }
  .popper-tool-tip {
    background: black;
    color: white;
    --popper-arrow-color: black;
  }
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

.grvsc-container.light-default-light {
  background: #f9f9f9;
}
.grvsc-container {
  border-radius: 0.3em;
  margin: 0.5em 0;
  border-radius: 0.3em;
  overflow: auto;
  padding: 1em;
  background: #f8f8f8;
  margin-bottom: 1.5rem;
  padding: 0;
  max-height: 80vh;
}

@media (max-width: 900px) {
  .grvsc-container {
    margin-left: -1.125em;
    margin-right: -1.125em;
    box-shadow: unset;
  }
}

:not(pre) > code {
  padding: 0.2em;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0 0.3em;
  border-radius: 0.3em;
  white-space: normal;
}

#project-main-container {
  min-height: 100vh;
}

.theme-dark,
.theme-dark-blue,
.theme-dark-red {
  .popper-tool-tip {
    background: #cecece;
    --popper-arrow-color: #cecece;
    color: #000000;
  }
}
