@import 'markdown';
@import 'components/navbar';
@import 'components/tooltip';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$background: white;
$color: black;
* {
  box-sizing: border-box;
}

// --theme-primary-bg: #af1d4c;
//     --theme-primary-color: #000000;
//     --theme-secondary-color: #ffffff;
//     --theme-secondary-bg: #f4f4f4;
//     --theme-primary-hover: #e4316a96;
//     --theme-navbar-box-shadow: #838383ab;
:root {
  --theme-primary-bg: #1d5baf;
  --theme-primary-color: #000000;
  --theme-secondary-color: #ffffff;
  --theme-secondary-bg: #000000;
  --theme-primary-hover: #3068b7;
  --theme-navbar-box-shadow: #484848ab;
}

@mixin theme($background, $color) {
  background: $background;
  color: $color;
}

.theme-dark {
  $color: white;
  $background: #292c35;
  @include theme($background, $color);
  :not(pre) > code {
    background: #144e71;
  }
  .grvsc-container .grvsc-line-highlighted {
    background-color: rgb(19, 43, 64);
    box-shadow: inset 4px 0 0 0 rgba(245, 243, 255, 0.5);
  }
}

.theme-light {
  @include theme($background, $color);
  :not(pre) > code {
    background: #fff1b9;
  }

  .grvsc-container .grvsc-line-highlighted {
    background-color: #ffe2e2;
    box-shadow: inset 4px 0 0 0 rgba(241, 16, 16, 0.5);
  }
}

.theme-solarized {
  @include theme($background, $color);
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

.grvsc-container.light-default-light {
  background: #f9f9f9;
}
.grvsc-container {
  border-radius: 0.3em;
  margin: 0.5em 0;
  border-radius: 0.3em;
  overflow: auto;
  padding: 1em;
  background: #f8f8f8;
  margin-bottom: 1.5rem;
  padding: 0;
  max-height: 80vh;
}

@media (max-width: 900px) {
  .grvsc-container {
    margin-left: -1.125em;
    margin-right: -1.125em;
    box-shadow: unset;
  }
}

:not(pre) > code {
  padding: 0.2em;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0 0.3em;
  border-radius: 0.3em;
  white-space: normal;
}
