/* Inline code */
.theme-light :not(pre) > code[class*='language-'] {
  background: #f8f8f8;
  border: 1px solid #dddddd;
}

.theme-light .token.comment,
.theme-light .token.prolog,
.theme-light .token.doctype,
.theme-light .token.cdata {
  color: #999988;
  font-style: italic;
}

.theme-light .token.namespace {
  opacity: 0.7;
}

.theme-light .token.string,
.theme-light .token.attr-value {
  color: #e3116c;
}
.theme-light .token.punctuation,
.theme-light .token.operator {
  color: #393a34; /* no highlight */
}

.theme-light .token.entity,
.theme-light .token.url,
.theme-light .token.symbol,
.theme-light .token.number,
.theme-light .token.boolean,
.theme-light .token.variable,
.theme-light .token.constant,
.theme-light .token.property,
.theme-light .token.regex,
.theme-light .token.inserted {
  color: #36acaa;
}

.theme-light .token.atrule,
.theme-light .token.keyword,
.theme-light .token.attr-name,
.theme-light .language-autohotkey .token.selector {
  color: #00a4db;
}

.theme-light .token.function,
.theme-light .token.deleted,
.theme-light .language-autohotkey .token.tag {
  color: #9a050f;
}

.theme-light .token.tag,
.theme-light .token.selector,
.theme-light .language-autohotkey .token.keyword {
  color: #00009f;
}

.theme-light .token.important,
.theme-light .token.bold {
  font-weight: bold;
}

.theme-light .token.italic {
  font-style: italic;
}
