h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}
.anchor {
  position: absolute;
  right: 100%;
}
.anchor > svg {
  opacity: 0;
}
h1:hover > .anchor > svg,
h2:hover > .anchor > svg,
h3:hover > .anchor > svg,
h4:hover > .anchor > svg,
h5:hover > .anchor > svg,
h6:hover > .anchor > svg,
.anchor:hover > svg,
.anchor:focus > svg {
  opacity: 1;
}

p,
li {
  letter-spacing: -0.2px;
}

.theme-dark,
.theme-dark a {
  color: white;
  background: #292c35;
}

.theme-dark p {
  color: #dce4e8;
}
.theme-dark .anchor svg path {
  fill: white;
}

blockquote {
  border-left: 4px solid black;
  margin-left: -1.125rem;
  padding: 1rem;
  position: relative;
  font-style: italic;
  font-size: 1.1rem;
  margin-right: -1.125em;
  padding-right: 0;
}

blockquote blockquote {
  margin-left: 1rem;
}

.theme-dark blockquote {
  border-left: 4px solid white;
}

@media (max-width: 900px) {
  .anchor {
    float: initial;
    padding-right: 0;
    margin-left: 0;
  }
}
