.blog-main-container {
  display: flex;

  .blog-sidebar {
    min-height: 100vh;
    border-right: 2px solid #7b3039;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    width: 250px;
    min-width: 250px;
    
  }

  .blog-mid-container {
    flex: 6;
    flex-grow: 6;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 56px;
  }
  .blog-right-container {
    flex: 1;
    flex-grow: 1;
    position: sticky;
    min-height: 100vh;
    max-width: 20%;
    position: relative;
    // border-left:2px solid #7b3039
    .test-container {
      margin-top: 50vh;
      .test {
        width: 200px;
        height: 200px;
        background-color: rebeccapurple;
        margin: 10px;
      }
    }
  }
}
